
<div class="jumbotron">
  <div class="container">

    <div class="row">

      <div class="col-xs-12">

        <h1>Page not found</h1>
        <p class="lead">Sorry, no content exists for page '{{request.page}}'</p>
        {{canonical}}<p><a class="btn btn-lg btn-primary ga-website" href="{{{.}}}" target="_blank">Take Me Home</a></p>{{canonical}}
        
      </div>

    </div>

  </div><!-- ./container -->
</div><!-- ./jumbo -->